<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="AutoMapper*" />
			<package pattern="Azure*" />
			<package pattern="coverlet.collector" />
			<package pattern="FluentAssertions*" />
			<package pattern="Microsoft*" />
			<package pattern="Moq*" />
			<package pattern="NET*" />
			<package pattern="NuGet.Frameworks" />
			<package pattern="Newtonsoft.Json" />
			<package pattern="runtime*" />
			<package pattern="Swashbuckle*" />
			<package pattern="System*" />
			<package pattern="xunit*" />
		</packageSource>
	</packageSourceMapping>
</configuration>
